h1{text-align: left;color: #0000FF;font-family: Veranda;font-size: 20pt}
h2{text-align: left;color: #0000FF;font-family: Veranda;font-size: 16pt}
p{text-align: justify;color: #191970;font-family: Arial;font-size: 12pt}
body{background:#F5F5DC }
h3{text-align: left;color: #008080;font-family: Veranda;font-size: 15pt}
ol li{list-style-type: upper-roman;}
ul li{color: green;}
p{font-weight: bold; color:  #000000}
table{border:0; color:#4169e1 }
img{}
h4{color: green}
ul{ margin: 0;text-align: left;vertical-align: left;align-items: left}
a {
    color: green;
    text-decoration: none;
   
   }
   a:hover {
     

    color: orange; 
     text-decoration: underline;
   }





h1.main,h1.golub,h1.krasn,h1.zelen,h1.oranzhev{color:navy; font-family: Veranda;text-align: left;font: 14pt}
h1.main{color:navy}
h1.golub{color:blue;}
h1.krasn{color: red}
h1.zelen{color: green}
h1.oranzhev{color: orange}
table.z{color: black;}
table.t2{color: black;}
img.tr{margin: 35px}
p.default{font-weight : normal }



#darkBlue{color: navy;vertical-align:right ;text-shadow: black}
#red{color: darkred;vertical-align: left}
#green{color: green;vertical-align: center}
#orange{color: darkorange;vertical-align: center}